In [1]:
import sqlite3

In [2]:
db = sqlite3.connect(':memory:')
cur = db.cursor()

In [4]:
cur.execute('''
    CREATE TABLE IF NOT EXISTS Customer(
        id integer PRIMARY KEY,
        firstname varchar(255),
        lastname varchar(255))
    ''')

cur.execute('''
    CREATE TABLE IF NOT EXISTS Item (
        id integer PRIMARY KEY,
        title varchar(255),
        price decimal )
    ''')

cur.execute('''
    CREATE TABLE IF NOT EXISTS BoughtItem (
        ordernumber integer PRIMARY KEY,
        customerid integer,
        itemid integer,
        price decimal,
        CONSTRAINT customerid
            FOREIGN KEY (customerid) REFERENCES Customer(id)
        CONSTRAINT itemid
            FOREIGN KEY (itemid) REFERENCES Item(id))
    ''')

In [6]:
cur.execute('''
    INSERT INTO Customer(firstname, lastname)
    VALUES  ('Bob', 'Adams'),
            ('Amy', 'Smith'),
            ('Rob', 'Bennet');
    ''')

cur.execute('''
    INSERT INTO Item(title, price)
    VALUES  ('USB', 10.2),
            ('Mouse', 12.23),
            ('Monitor', 199.99);
    ''')

cur.execute('''
    INSERT INTO BoughtItem(customerid, itemid, price)
    VALUES  (1, 1, 10.2),
            (1, 2, 12.23),
            (1, 3, 199.99),
            (2, 3, 180.00),
            (3, 2, 11.23);
    ''')

In [8]:
cur.execute('''
SELECT 
    itemid,
    AVG(price)
    
FROM BoughtItem
GROUP BY itemid''')
print(cur.fetchall())

[(1, 10.2), (2, 11.73), (3, 189.995)]

In [9]:
cur.execute('''
SELECT 
    item.title,
    AVG(boughtitem.price)
    
FROM BoughtItem as boughtitem
INNER JOIN Item as item ON (item.id = boughtitem.itemid)
GROUP BY boughtitem.itemid''')
print(cur.fetchall())

[('USB', 10.2), ('Mouse', 11.73), ('Monitor', 189.995)]

In [12]:
cur.execute('''
SELECT
customer.firstname,
SUM(boughtitem.price)

FROM BoughtItem as boughtitem
INNER JOIN Customer as customer ON (boughtitem.customerid = customer.id)
GROUP BY customer.firstname
''')
print(cur.fetchall())

[('Amy', 180), ('Bob', 222.42000000000002), ('Rob', 11.23)]

In [2]:
import redis
from datetime import timedelta

In [3]:
r = redis.Redis()

In [ ]:
def get_name(request, *args, **kwargs):
    id = request.get('id')
    if id in r:
        return r.get(id)
    else:
        name = 'Bob'
        r.setex(id, timedelta(minutes=60), value=name)
        return name

In [12]:
numbers = [45, 22, 14, 65, 97, 72]

In [13]:
for i, num in enumerate(numbers):
    if num % 3 == 0 and num % 5 == 0:
        numbers[i] = 'fizzbuzz'
    elif num % 3 == 0:
        numbers[i] = 'fizz'
    elif num % 5 == 0:
        numbers[i] = 'buzz'

In [14]:
numbers

['fizzbuzz', 22, 14, 'buzz', 97, 'fizz']