In [1]:
example = {'color':'red', 'fruit':'apple', 'species':'dog'}

In [2]:
example.items()

dict_items([('color', 'red'), ('fruit', 'apple'), ('species', 'dog')])

In [3]:
for key, value in example.items():
    print(key, '->', value)

color -> red
fruit -> apple
species -> dog

In [4]:
prices = {'apple': .5, 'orange': .35, 'banana': .25}

In [5]:
prices

{'apple': 0.5, 'orange': 0.35, 'banana': 0.25}

In [6]:
for key in prices:
    prices[key] = prices[key] + .1

In [7]:
prices

{'apple': 0.6, 'orange': 0.44999999999999996, 'banana': 0.35}

In [8]:
prices['kiwi'] = 1

In [9]:
prices

{'apple': 0.6, 'orange': 0.44999999999999996, 'banana': 0.35, 'kiwi': 1}

In [10]:
a_dict = {'one':1, 'two':2, 'three': 3, 'four': 4}

In [11]:
a_dict

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [12]:
new_dict = {}

In [13]:
for key,value in a_dict.items():
    new_dict[value] = key

In [14]:
new_dict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [15]:
a_dict

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [16]:
new_dict={}

In [17]:
for key,value in a_dict.items():
    if value > 2:
        new_dict[key] = value

In [18]:
new_dict

{'three': 3, 'four': 4}

In [19]:
incomes = {'jeff': 12000, 'annie': 23000, 'glen': 50000}

In [20]:
incomes

{'jeff': 12000, 'annie': 23000, 'glen': 50000}

In [21]:
total_income = 0

In [22]:
for key, income in incomes.items():
    total_income += income

In [24]:
total_income

85000

In [25]:
objects = ['blue', 'apple', 'dog']
categories = ['color', 'fruit', 'pet']

In [27]:
a_dict = {key: value for key, value in zip(objects, categories)}

In [28]:
a_dict

{'blue': 'color', 'apple': 'fruit', 'dog': 'pet'}

In [30]:
new_dict = {value: key for key, value in a_dict.items()}

In [31]:
new_dict

{'color': 'blue', 'fruit': 'apple', 'pet': 'dog'}

In [32]:
num_dict = {'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [33]:
new = {key: value for key, value in num_dict.items() if value > 2}

In [34]:
new

{'three': 3, 'four': 4}

In [35]:
incomes

{'jeff': 12000, 'annie': 23000, 'glen': 50000}

In [37]:
sum([value for value in incomes.values()])

85000

In [38]:
sum(incomes.values())

85000

In [39]:
sum((value for value in incomes.values()))

85000

In [41]:
sorted_incomes = {key: incomes[key] for key in sorted(incomes)}

In [42]:
sorted_incomes

{'annie': 23000, 'glen': 50000, 'jeff': 12000}

In [43]:
def by_value(item):
    return item[1]

In [46]:
for k, v in sorted(incomes.items(), key=by_value):
    print(k,v)

jeff 12000
annie 23000
glen 50000

In [47]:
a_dict

{'blue': 'color', 'apple': 'fruit', 'dog': 'pet'}

In [48]:
a_dict = {'blue': 'color', 'apple': 'fruit', 'dog':'pet'}

In [49]:
a_dict

{'blue': 'color', 'apple': 'fruit', 'dog': 'pet'}

In [51]:
a_dict.popitem()

('dog', 'pet')

In [52]:
a_dict

{'blue': 'color', 'apple': 'fruit'}

In [53]:
a_dict = {'a': 10, 'b': 20, 'c': 30}

In [54]:
while True:
    try:
        item = a_dict.popitem()
        print(item)
        
    except KeyError:
        print('The dictionary is empty')
        break

('c', 30)
('b', 20)
('a', 10)
The dictionary is empty

In [55]:
from collections import ChainMap

In [57]:
fruits = {'orange': 10, 'apple': 20}
veggies = {'carrot': 5, 'potato': 45}

In [58]:
chained_map = ChainMap(fruits, veggies)

In [59]:
chained_map

ChainMap({'orange': 10, 'apple': 20}, {'carrot': 5, 'potato': 45})

In [60]:
for key in chained_map:
    print(key, chained_map[key])

carrot 5
potato 45
orange 10
apple 20

In [64]:
a = {'a': 100}
a2 = {'a': 1}

In [65]:
a_chain = ChainMap(a, a2)

In [67]:
a_chain

ChainMap({'a': 100}, {'a': 1})

In [66]:
a_chain['a']

100

In [68]:
prices

{'apple': 0.6, 'orange': 0.44999999999999996, 'banana': 0.35, 'kiwi': 1}

In [74]:
prices = {'apple': .25, 'orange': .50, 'kiwi': .75}

In [75]:
from itertools import cycle

In [81]:
num_items = 10

In [82]:
for item in cycle(prices.items()):
    if num_items == 0:
        break
    num_items -= 1
    print(item)

('apple', 0.25)
('orange', 0.5)
('kiwi', 0.75)
('apple', 0.25)
('orange', 0.5)
('kiwi', 0.75)
('apple', 0.25)
('orange', 0.5)
('kiwi', 0.75)
('apple', 0.25)

In [83]:
from itertools import chain

In [84]:
fruits = {'apple': 10, 'banana': 20}

In [85]:
veggies = {'carrot': 5, 'potato': 45}

In [86]:
for item in chain(fruits.items(), veggies.items()):
    print(item)

('apple', 10)
('banana', 20)
('carrot', 5)
('potato', 45)

In [88]:
fruits = {'apple': .4, 'orange': .35}
veggies = {'carrot': .2, 'onion': 55}

In [89]:
{**fruits, **veggies}

{'apple': 0.4, 'orange': 0.35, 'carrot': 0.2, 'onion': 55}

In [90]:
for key, value in {**fruits, **veggies}.items():
    print(key, value)

apple 0.4
orange 0.35
carrot 0.2
onion 55

In [91]:
fruits['onion'] = 1

In [93]:
{**fruits, **veggies}

{'apple': 0.4, 'orange': 0.35, 'onion': 55, 'carrot': 0.2}